body {
  margin: 0;
  padding: 0;
  background-color: #0A1929; /* Jasnogranatowe tło */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entresto-button {
  background-color: #E4572E; /* Kolor pomarańczowy Entresto */
  color: #FFFFFF;
  font-size: 24px; /* Większa czcionka */
  border: none;
  border-radius: 10px; /* Zaokrąglenie krawędzi */
  padding: 20px 40px; /* Większe odstępy wewnętrzne */
  margin: 10px; /* Większe odstępy między przyciskami */
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Lekka cień */
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.entresto-button:hover {
  background-color: #FF6B35; /* Ciemniejszy kolor pomarańczowy po najechaniu myszką */
  transform: scale(1.05); /* Lekkie powiększenie przy najechaniu */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Lekki cień przy najechaniu */
}
