body {
  margin: 0;
  padding: 0;
  background-image: url('photo1.jpg'); /* Dodaj tło ze zdjęciem */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll; /* Dodaj pasek przewijania tylko w pionie */
  height: 100vh;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px; /* Odstęp od góry */
}

.button {
  background-color: #2196F3; /* Niebieski odcień Entresto */
  color: #FFFFFF;
  font-size: 24px; /* Powiększenie tekstu */
  font-weight: bold; /* Pogrubiony tekst */
  text-transform: uppercase; /* Tekst w formie wielkich liter */
  padding: 20px 40px; /* Większa odległość między tekstem a ramką */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Delikatna ramka */
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  text-decoration: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Lekki cień */
}

.button:hover {
  background-color: #1565C0; /* Ciemniejszy niebieski przy najechaniu myszką */
  transform: scale(1.05); /* Lekki efekt powiększenia przy najechaniu */
}
